nav{
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:burlywood;
    border-radius: 15px;
    position: fixed;
    
   
 }
 .logo img{
     width: 20vh;
     height: 10vh;
     display: flex;
     justify-content: space-between;
 }
 nav ul{
     display: inline-flex;
     align-items: center;
     
     margin-right: 5rem;
 }
 nav ul li{
     list-style: none;
 }
 nav ul li a{
     
     display: inline-flex;
     font-size: large;
     text-decoration: none;
     color: black;
     padding: 2.0rem;
     margin: 0.0rem;
     border-radius: 15%;
     
 } 
 nav ul li a:hover{
    color: #fff;
 }
 nav ul li a:hover::after{
    content: " ";
    display: block;
    width: 100%;    
    height: 2px;
    background-color: #fff;
 }
 button{
     color: black;
     padding: 5px 5px;
     cursor: pointer;
     margin-right: 5px;
     border-radius: 10px;
 }
 button:hover{
    color: #fff;
    background-color: black;
 }
 
     
     
     
     
     
    
 
 
 
 
 
 